<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="volver" defaultHref="menu"></ion-back-button>
        </ion-buttons>
    <ion-title>CALCULO 64 horas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>


    <ion-input placeholder="EPE1" [(ngModel)]="EPE1"></ion-input>
  </ion-item>
  <ion-item>


    <ion-input placeholder="EPE2" [(ngModel)]="EPE2"></ion-input>
  </ion-item>
  <ion-item>


    <ion-input placeholder="EPE3" [(ngModel)]="EPE3"></ion-input>
  </ion-item>

  <ion-item>


    <ion-input placeholder="EVA1" [(ngModel)]="EVA1"></ion-input>
  </ion-item>
  <ion-item>


    <ion-input placeholder="EVA2" [(ngModel)]="EVA2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="EVA3" [(ngModel)]="EVA3"></ion-input>
  </ion-item>





  <ion-item>
    <ion-button color="success" (click)="verResultado()">CALCULAR

    </ion-button>
  </ion-item>

  <ion-item>
    <ion-input>{{total}}</ion-input>
  </ion-item>

 


</ion-content>