<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen2.jpg" />
        <ion-button expand="full" (click)="irCalculo()">32</ion-button>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen3.jpg" />
        <ion-button expand="full" (click)="IrCalculo2()">32+examen</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen4.jpg" />
        <ion-button expand="full" (click)="IrNoventa()">Adm. y Gestion de Empresa</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen5.jpg" />
        <ion-button expand="full" (click)="irCien()">Apliacaciones Moviles</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen6.jpg" />
        <ion-button expand="full">Redees Wan</ion-button>
      </ion-col>
    </ion-row>





  </ion-grid>



</ion-content>