<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="volver" defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
       
        <ion-button expand="full" (click)="irCalculo()">32 horas</ion-button>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
        <ion-button expand="full" (click)="IrCalculo2()">32 horas+examen</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       
        <ion-button expand="full" (click)="IrScalculo()">64 horas</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
    
        <ion-button expand="full" (click)="IrScalculo2()">64 horas + examen</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       
        <ion-button expand="full"(click)="IrNcalculo()">96 horas</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       
        <ion-button expand="full"(click)="IrNcalculo2()">96 horas + EXAMEN</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      
        <ion-button expand="full"(click)="IrCcalculo()">128 horas</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
      
        <ion-button expand="full"(click)="IrCcalculo2()">128 horas + EXAMEN</ion-button>
      </ion-col>
    </ion-row>






  </ion-grid>



</ion-content>