<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen2.jpg" />
        <ion-button expand="full" (click)="irCalculo()">32 horas</ion-button>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen3.jpg" />
        <ion-button expand="full" (click)="IrCalculo2()">32 horas+examen</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen4.jpg" />
        <ion-button expand="full" (click)="IrScalculo()">64 horas</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen5.jpg" />
        <ion-button expand="full" (click)="IrScalculo2()">64 horas + examen</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen6.jpg" />
        <ion-button expand="full"(click)="IrNcalculo()">96 horas</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/imagen6.jpg" />
        <ion-button expand="full"(click)="IrNcalculo2()">96 horas + horas</ion-button>
      </ion-col>
    </ion-row>





  </ion-grid>



</ion-content>