<ion-header>
  <ion-toolbar>
    <ion-title>treinta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-content>

  
  <ion-item>

    <ion-input  [(ngModel)]="epe1">

    </ion-input>
    
    <ion-input  [(ngModel)]="epe1">

    </ion-input>
    <ion-input  [(ngModel)]="eva1">

    </ion-input>
    <ion-input  [(ngModel)]="eva2">

    </ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="danger" (click)="AbrirPaginaR()">Enviar Texto</ion-button> 

  </ion-item>
  
</ion-content>
