<ion-header>
  <ion-toolbar>
    <ion-title>
   Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-card>
<img src="assets/img/imagen1.jpg"/>
<ion-card-content>
<ion-card-title>

</ion-card-title>



<p>
  Calculo de Notas IPCHILE
</p>
</ion-card-content>




</ion-card>
<ion-button expand="full" (click)="irMenu()" (click)="verToast()">Comenzar </ion-button>

<ion-button expand="full" (click)="IrAcerca()" (click)="verToast1()">Acerca de  </ion-button>




</ion-content>

